@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
}
.conteiner-item{
    width: 100%;
}